
# shell-emulator=true
# auto-install-peers=false
# dedupe-injected-deps=false
# 忽略项目中引入的各个modules之间的相同modules,但不同版本的问题并继续安装
# 自动安装peer dependencies
auto-install-peers=true
# 指定项目依赖的来源（yarn 会读取.npmrc的配置文件，所以不必为yarn再设置一次）
registry= https://registry.npmmirror.com/

# 安装依赖时锁定版本号
save-exact = true
